 body {
     background: whitesmoke;
     overflow-x: hidden;
 }

 /* Navbar */
 .nav-area {
     background: linear-gradient(135deg, #6a11cb, #2575fc);
 }

 /* Sidebar */
 .sidebar {
     width: 250px;
     height: 100vh;
     background: linear-gradient(135deg, #6a11cb, #2575fc);
     position: fixed;
     top: 0;
     left: 0;
     padding-top: 60px;
     color: #fff;
     transition: all 0.3s ease;
     z-index: 999;
 }

 .sidebar span {
     font-size: 30px;
     padding: 0px 20px;
     position: absolute;
     right: 0;
     top: 0px;
     cursor: pointer;
     display: none;
 }

 .sidebar h2 {
     color: white;
     padding: 20px;
     position: relative;
     top: -60px;
     font-size: 20px;
     display: block;
 }

 .sidebar a {
     color: #ddd;
     text-decoration: none;
     padding: 12px 20px;
     display: block;
     font-size: 15px;
 }

 .sidebar a:hover {
     background: rgba(255, 255, 255, 0.1);
     color: #fff;
 }

 /* Content Area */
 .content-area {
     margin-left: 260px;
     padding: 20px;
     transition: margin-left 0.3s ease;
 }

 /* Cards Animation */
 .card {
     transition: 0.3s;
     border-radius: 12px;
 }

 .card:hover {
     transform: translateY(-5px);
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
 }


 /* Mobile Sidebar Hidden */
 @media only screen and (min-width: 250px) and (max-width: 992px) {
     .sidebar {
         left: -260px;
     }

     .sidebar.active {
         left: 0;
     }

     .content-area {
         margin-left: 0 !important;
     }

     .toggle-btn {
         display: inline-block !important;
     }

     .sidebar span {
         display: block;
     }

     .sidebar h2 {
         display: none;
     }
 }

 .toggle-btn {
     display: none;
     cursor: pointer;
     font-size: 22px;
     color: white;
 }

